<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <title>Sciunit {% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/jpg" href="/static/assets/images/new_geotrust_1lm_icon.ico" />
    <!-- Link to Bootstrap usind CDN -->
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Inconsolata" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
        <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/normalize.css">
    {% endblock %}


</head>

<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <br>
    <div id="footer-spacer"></div>
    <footer class="footer">
        <div class="container ">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-12">
                    <div class="navbar-fixed-bottom d-flex flex-row flex-wrap justify-content-between">
                        <a class="p-2" href="/">Home</a>
                        <a class="p-2" href="/install/">Install</a>
                        <a class="p-2" href="/docs/">Documentation</a>
                        <a class="p-2" href="/manual/">Manual</a>
                        <a class="p-2" href="/papers/">Papers</a>
                        <a class="p-2" href="/support/">Support</a>
                    </div>
                    <p>The Sciunit is supported by the National Science Foundation under grants ICER-1639759, ICER-1661918, ICER-1440327, and
                            ICER-1343816, and by Bloomberg Philanthropies (a UChicago subcontract).</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
