{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<nav class="navbar navbar-toggleable-lg navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-brand">
            <a href="/">
        	    <img src="/static/assets/images/new_GeoTrust.png" id="sciunit-logo" height="110" alt="Geotrust">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class='nav-item active-nav'>
                    <a class="nav-link" href="/">Sciunit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/install/">Install</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" href="/docs/">Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/examples/">Examples</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/papers/">Papers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/support/">Support</a>
                </li>
            </ul>
        </div>
        <div class="navbar-brand">
            <a href="https://bitbucket.org/geotrust/sciunit2/" target="_blank"><img src="https://img.icons8.com/color/96/000000/bitbucket.png"/></a>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <br>
                <h2 style="text-align: center">Sciunit: a system for easily containerizing, sharing, and tracking scientific applications
                </h2>

            </div>
        </div>
        <hr />
        <br>
        <div class="row">
            <!-- news section -->
          <nav class="col-lg-2" id=myScrollspy>
                <ul class="nav nav-pills flex-column" data-spy="affix" data-offset-top="205" id="stickyContents">
                    <li>
                        Oct '20: <a href="https://bitbucket.org/geotrust/sciunit2">Sciunit2</a> released for python3.
                    </li>
                    <hr>
                    <li>
                        Jun '20: <a href="https://www.essoar.org/doi/abs/10.1002/essoar.10503514.1">Poster</a> presented at EarthCube 2020.
                    </li>
                    <hr>
                    <li>
                        Jun '20: <a href="https://sciunit.run/papers/PW_20_Sciunit_Demo.pdf">Demo</a> on Sciunit presented in ProvenanceWeek 2020.
                    </li>
                </ul>
                </nav>

            <div class="col-lg-6 offset-lg-1">
                <div class="row">
                    <div class="col-lg-12">
                        <p style="text-align: justify;">
                            Sciunits are efficient, lightweight, self-contained packages of computational experiments that can be guaranteed to repeat or reproduce regardless of deployment issues. Sciunit
                            answers the call for a reusable research object that containerizes and stores applications simply and efficiently, facilitates sharing and collaboration, and eases the task of executing, understanding, and building on shared work.
                        </p>
                        <p>To create Sciunits, <a href="/install">install</a> our Linux command-line tool.</a></p>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12" style="text-align:center;">
                        <img src="/static/assets/images/earthcube_logo.png" class="attachment-large size-large" alt="earthcube logo" loading="lazy" width="250" height="100">
                        <img src="/static/assets/images/nsf_logo.jpeg" class="attachment-large size-large" alt="nsf logo" loading="lazy" width="100" height="100">
                    </div>
                </div> 
                <div class="row">
                    <div class="col-lg-12">
                        <h3 style="text-align: center">Demo</h3>
                        <p style="text-align: center">TaPP 2020 Demo of Sciunit
                        <br>    
                        <iframe src="https://drive.google.com/file/d/1lmuO9Nh6PviJX27KOuHjPcJ1ZdSm0CYx/preview" width="640" height="480"></iframe></p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <h3 style="text-align: center" >Team Members</h3>
                        <br>
                        <div class="row">
                            <div class="col-lg-4">
                                <ul>
                                    {% for member in team["team"] %}
                                        <li><a href="{{member[2]}}">{{member[0]}}</a><span class="work-title" style="white-space: pre-line">{{member[1]}}</span></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-lg-4"> 
                                <h4>Alumni</h4>
                                <ul>
                                    {% for member in team["alumni"] %}
                                        <li><a href="{{member[2]}}">{{member[0]}}</a><span class="work-title" style="white-space: pre-line">{{member[1]}}</span></li>
                                    {% endfor %}
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="row">
                    <div class="col-lg-12" style="visibility: hidden">
                        <br>
                        <a href="https://try.sciunit.run" class="btn btn-lg btn-info" role="button"><p>Try Sciunit!</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
